## 1 задача
Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv('kc_house_data.csv')
df.head(5)

           id             date     price  bedrooms  bathrooms  ...  zipcode      lat     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0         3       1.00  ...    98178  47.5112 -122.257           1340        5650
1  6414100192  20141209T000000  538000.0         3       2.25  ...    98125  47.7210 -122.319           1690        7639
2  5631500400  20150225T000000  180000.0         2       1.00  ...    98028  47.7379 -122.233           2720        8062
3  2487200875  20141209T000000  604000.0         4       3.00  ...    98136  47.5208 -122.393           1360        5000
4  1954400510  20150218T000000  510000.0         3       2.00  ...    98074  47.6168 -122.045           1800        7503

[5 rows x 21 columns]

## 2 задача
Проведите первичный анализ данных

Изучите типы данных

Найдите количество пропущенных ячеек в данных

Посчитайте основные статистики по всем признакам и поизучайте их

Пишите выводы

In [12]:
# Проведите первичный анализ данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [14]:
# Изучите типы данных
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [16]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [23]:
# Посчитайте основные статистики по всем признакам и поизучайте их
df.describe()

                 id         price      bedrooms     bathrooms  ...           lat          long  sqft_living15     sqft_lot15
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  ...  21613.000000  21613.000000   21613.000000   21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757  ...     47.560053   -122.213896    1986.552492   12768.455652
std    2.876566e+09  3.671272e+05      0.930062      0.770163  ...      0.138564      0.140828     685.391304   27304.179631
min    1.000102e+06  7.500000e+04      0.000000      0.000000  ...     47.155900   -122.519000     399.000000     651.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000  ...     47.471000   -122.328000    1490.000000    5100.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000  ...     47.571800   -122.230000    1840.000000    7620.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000  ...     47.678000   -122.125000    2360.000000   10083.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  ...     47.777600   -121.315000    6210.000000  871200.000000

[8 rows x 20 columns]

## 3 задача
Ответьте на несколько вопросов

3.1 В каком диапазоне изменяются стоимости недвижимости?

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

3.3 Как много домов с разными этажами в данных?

3.4 Насколько хорошие состояния у домов в данных?

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [30]:
# 3.1 В каком диапазоне изменяются стоимости недвижимости?
{df['price'].min()}, {df['price'].max()}

({75000.0}, {7700000.0})

In [33]:
# 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
{round((df['sqft_living'].mean() * 100 / df['sqft_lot'].mean()), 2)}

{13.77}

In [35]:
# 3.3 Как много домов с разными этажами в данных?
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [36]:
# 3.4 Насколько хорошие состояния у домов в данных?
df['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [72]:
# 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
young = df['yr_built'].min()
oldest = df['yr_built'].max()
print(f'Самый новый дом: {young}, старый дом {oldest}')

Самый новый дом: 1900, старый дом 2015

## 4 задача
Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

4.3 Как много домов коснулся ремонт?

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [71]:
# 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
price_choice = round(df[df['bedrooms'] == 2]['price'].mean(), 2)
print(f'Средняя стоимость домов c 2мя спальнями: {price_choice}')

Средняя стоимость домов c 2мя спальнями: 401372.68

In [70]:
# 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
squ_choice = round(df[df['price'] > 600000]['sqft_lot'].mean(), 2)
print(f'Средняя стоимость домов дороже 600 000: {squ_choice}')

Средняя стоимость домов дороже 600 000: 20442.52

In [69]:
# 4.3 Как много домов коснулся ремонт?
renov_choice = df[df['yr_renovated'].astype('bool')].shape[0]
print(f'Домов с ремонтом: {renov_choice}')

Домов с ремонтом: 914

In [68]:
# 4.4 Насколько в среднем стоимость домов с оценкой grade 
# домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
g10 = round(df[df['grade'] > 10]['price'].mean(),2)
g4 = round(df[df['grade'] < 4]['price'].mean(),2)
print(f'Средняя стоимость домов с оценкой выше 10и {g10}')
print(f'Средняя стоимость домов с оценкой выше 4и {g4}')
print(f'Разница {round(g10 - g4, 2)}')

Средняя стоимость домов с оценкой выше 10и 1678635.12
Средняя стоимость домов с оценкой выше 4и 189750.0
Разница 1488885.12

## 5 задача
Ответьте на несколько вопросов
5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [61]:
# 5.1 Выберите дом клиенту
# # Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом.
# Сколько вариантов есть у клиента?
count_choice = df[(df['waterfront'] != 0) & 
                  (df['bathrooms'] >= 3) & 
                  (df['sqft_basement'] != 0)].shape[0]
print(f'Количество вариантов для клиентов: {count_choice}')

Количество вариантов для клиентов: 41

In [64]:
# 5.2 Выберите дом клиенту
# Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, 
# в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
df_choiсe = df[((df['view'] == 4) | (df['waterfront'] != 0)) &
               (df['yr_built'] >= 1980) & 
               (df['condition'] == 5)]['price']
print(f'Подходящие варианты для клиента в цен. диапозоне от {df_choiсe.min()} до {df_choiсe.max()}')

Подходящие варианты для клиента в цен. диапозоне от 1295000.0 до 3000000.0

In [67]:
# 5.3 Выберите дом клиенту
# Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. 
# Какая оценка по состоянию у таких домов в среднем?

choiсe_value = df[(df['sqft_basement'] == 0) & 
                  (df['floors'] == 2) & 
                  (df['price'] < 150000)]['condition'].mean()
print(f'Средняя оценка состояния домов: {round(choiсe_value, 2)}')

Средняя оценка состояния домов: 2.83